body {

    background-color: #DDD;

}
/* --- header --- */
.jumbotron {
	background-color: #ED3737;
}
.divimg {
	width:100%;
}
.posimg {
	width: 100%;
	max-width: 300px;
	margin: auto;
}
h1.title {
	color: black;
	font-size: 72px;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 5px 10px 2px #D6D32D /*, -3px 6px 5px red*/;
}
.img-pizz {
	width: 50%;
	padding: 40px 0 0 80px;
}


iframe{
	margin: 0 50%;
}/*
.contact-header {
	text-align: center;
	margin: 0px;	
}	
.logo {
	float: left;
}
.logotr {

	padding: 0px 0px 0px 700px;
	border-radius: 8px;
=======
/* --- nav bar --- */
nav {
	z-index: 10;

}
.navbar-default{
	background-color: #333;
}
ul#listenav {
	width: 100%;
}
ul#listenav li {
	padding: 0 20px;
}
.navbar-nav > li > a.bnavig:visited{
	color: white;
	font-size: 25px;
	font-weight: bold;
}
.navbar-nav > li > a.bnavig:link{
	font-size: 25px;
	font-weight: bold;
}

.navbar-nav > li > a.bnavig:hover{
	color: yellow;
	font-size: 28px;
	font-weight: bold;
}
.navbar-nav > li > a.bnavig:active{
	color: #ED3737;
	font-size: 25px;
	font-weight: bold;
}


/* --- CAROUSEL CSS --- */

.carousel{
    background-color: #333;
    color: yellow;
    font-size: 25px;
    font-weight: bolder;
}
.carousel-control.left{
    background-color: red; 
}
.carousel-control.right{
    background-color: red; 
}
.carousel-indicators{
    margin-top: 50px;
    background-color: #333;
}

/* --- listes pizzas --- */
.pizzsep {
	margin-bottom: 15px;
}
.titrepizz {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	color: #FFEE5B;
	background: black;
	margin: 10px 0;
}
.pizza {
	float: left;
	width: 100%;
	padding: 5px;
	background: #ED3737;
	border-bottom: 2px solid black;
	color: black;
}
.nompizz {
	float: left;
	color: #FFEE5B;
	font-size: 20px;
	font-weight: bold;
}
.prixpizz {
	float:right;
	font-size: 14px;
}
.txtprixpizz {
	color: #FFEE5B;
	font-size: 18px;
	font-weight: bold;
}
.descpizz {
	float: left;
	width: 100%;
	font-size: 16px;
}

/* --- supplements --- */
.supplement {
	background: #ED3737;
	padding: 15px;
	margin-bottom: 10px;
	line-height: 26px;
}
div.supplement p {
	color: black;
}

/* --- Qui sommes-nous --- */
.qsn {
	margin: 5px 0;
	background : #7B888C;
}
.titreqsn {
	color: #FFEE5B;
	font-size: 18px;
	font-weight: bold;
}
.pqsn {
	font-size: 16px;
	font-weight: normal;
	color : black;
}
.imgqsn {
	margin: 5px auto;
}

/* --- footer --- */
.footer {
	text-align: center;
	margin: 5px 0;
	padding: 10px;
	background: black;
	font-size: 18px;
}
.legal h4 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}
.legal p {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 30px;
	text-align: justify;
}
a.txtfoot, a.txtfoot:link, a.txtfoot:visited {

	color: #FFEE5B;
}
a.txtfoot:hover, a.txtfoot:active {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		border-color: #333;
	}
	body {
		padding-top: 50px;
	}
}
